.frame{
  width: 250px;
  height: 450px;
  background-color: black;
  margin-left: 15px;
  position: relative;
}

h1{
  margin-left: 15px;
}

.frame ul li{
  list-style: none;
}

.frame ul li:first-child{
  display: none;
}

.frame ul{
  padding-left: 5px;
  position: absolute;
  bottom: 0;
}

#user{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#textMessage{
  color: #ffffff;
  padding-left: 5px;
  cursor: pointer;
}

#status{
  margin-left: 3px;
}
